html
    head
        link(rel='stylesheet', href='/stylesheets/LabelStyle.css')
#user
     if user
        include  layoutAuthorized
     else
        include  layout
block content
    if message
        div.hidden#message
            #{message}

    div.container(style="margin-top:8%")
        div.row
            div.labelStyle.col-md-4
                h1 ImageKeeper
            div.col-md-8
                p
                    span.letter Д
                    | анная программа предназначена для хранения, сохранения и редактирования изображений.

                p
                    span.letter Р
                    | азработана для сдачи диплома, а не для использования в коммерческих целях.
            div#footer
                &copy; ImageKeeper, 2017
block scripts
script(type = 'text/javascript').
    window.onload = function () {
        document.getElementById('inputPassword').onchange = validateInputPassword;
        document.getElementById('confirmPassword').onchange = validateConfirmPassword;

        if (message.textContent != '<>')
            $("#message-alert").show();
    }
    function validateInputPassword() {
        try {
            this.setCustomValidity('')
        } catch (e) {
        }
        validateConfirmPassword();
    }

    function validateConfirmPassword() {
        var pass2 = document.getElementById("inputPassword").value;
        var pass1 = document.getElementById("confirmPassword").value;
        if (pass1 != pass2)
            document.getElementById("confirmPassword").setCustomValidity("Пароли не совпадают");
        else {
            document.getElementById("confirmPassword").setCustomValidity('');
        }// пустая строка означает отсутствие ошибок
    }