html
    head
        link(rel='stylesheet', href='/stylesheets/LabelStyle.css')
#user
     if user
        include  layoutAuthorized
     else
        include  layout
block content
    div.container(style="margin-top:8%")
        div.row
            div.labelStyle.col-md-4
                h1 ImageKeeper
            div.col-md-8
                p
                    span.letter Д
                    | анная программа предназначена для хранения, сохранения и редактирования изображений.

                p
                    span.letter Р
                    | азработана для сдачи диплома, не для использования в коммерческих целях.
            div#footer
                &copy; ImageKeeper, 2017
    </div>
block scripts
