body {
  margin: 0;
}

canvas {
  border: 1px solid black;
}

.list-box ul {
  width: 260px;
  height: 510px;
  overflow: auto;
  padding-left: 0px;
}

.list-set{
  width: 170px;
  max-height: 300px;
  overflow: auto;
  top: 50%;
  left: -7%;
}
.btnplusminus {
  float:right;
  padding: 0px;
  margin-left: 5px;
  width: 35px;
  height:35px;
}
/*.btnminus{*/
  /*margin-top: 5px;*/
/*}*/

.list-set li{
  width: 150px;
}

.legend img{
  padding: 2px;
}
.legend label{
  margin-left: 5%;
  height: 20px;
  font-size: 12px;
}

.LegendContainer{
  border: 2px solid #1d5cab;
  height: 200px;
  width: 400px;
  background-color: white;
}
.contentDiv {
  margin-top:4%;
  padding-top:1%
}

.saveBtn{
  float: left;
  border:0px;
  width: 40px;
  height: 40px;
  background-image:url(/resources/saveBtn.PNG); background-size: 100%;
}

.legend ul{
  padding: 0px;
}
.list-box div {
  overflow: hidden;
  max-height: 23px;
  padding: 0px;
}
.list-box li {
  width: 220px;
  border: 1px solid black;
  margin: 2px;
  border-radius: 5px;
  display: flex;
  padding: 0;
}

.list-box-label {
  padding: 2px;
  width: 150px;
}

/*.list-box input {*/
    /*overflow: auto;*/
/*}*/

.color-icon {
  width: 15px;
  height: 15px;
  margin: 4px;
  border: 2px solid black;
}
.container{
  margin-left: 10px;
}

.deleteMe {
  margin-left: auto;
  padding-top: 2px;
  cursor: pointer;
}

.dg .c input[type=text] {
  line-height:normal;
}

.dg .c select {
  color:black;
}

.dg .c div {
  box-sizing: content-box;
}

.magic-toolbox {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1001;
  margin: 0px;
}

.magic-toolbox-item {
  padding: 0px;
  margin: 0px;
}

.magic-slider-item {
  padding: 8px 16px;
}

.magic-category-picker-item {
  padding: 0px;
  display: flex;
}

.magic-category-picker-icon {
  width: 32px;
  height: 32px;
  margin: 4px;
}

.magic-slider-icon {
  margin: 10px;
}

.magic-slider-value {
  margin: 8px;
  min-width: 30px;
}

.magic-category-picker-label {
  padding: 10px;
}

.slider-horizontal {
  width: 100%;
  margin: 8px;
}

.slider-selection {
  background: #BABABA;
}

.slider .tooltip {
  pointer-events: none
}
