html
    head
        meta(http-equiv='content-type', content='application/xhtml+xml; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='chrome=1')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.fancybox.css', type='text/css', media='screen')
        link( href="/stylesheets/bootstrap-tokenfield.css" type="text/css" rel="stylesheet")
        link( href="/stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet")
        link( href="/stylesheets/component.css" type="text/css" rel="stylesheet")
        style.
            .holder {
                position: relative;
                width: 200px;
                height: 200px;
            }
            .next{
                margin-top:20%;
                margin-right: 40%;
            }
            .block {
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                background: rgba(255, 255, 255, 0.7);
                padding: 5px;
                display: none;
            }
            .pages {
                margin-top: 40%;
                margin-left: 20%;
            }
            .holder:hover .block {
                display: block;
            }
            .pagelist{
                margin-left: 40%;
                margin-top: auto;
            }
body
        table
            tr
                input#srch.tt(type='text', placeholder='Search', style='width:250px')
                input#findme(type = "button", style='width:60px', value = "Найти")
                input#hidden(type='hidden', data-pg = numpage)
            tr
                .img-container#galleryblock
script(type = 'text/javascript').
    (function () {
        var support = {animations: Modernizr.cssanimations},
                animEndEventNames = {
                    'WebkitAnimation': 'webkitAnimationEnd',
                    'OAnimation': 'oAnimationEnd',
                    'msAnimation': 'MSAnimationEnd',
                    'animation': 'animationend'
                },
                animEndEventName = animEndEventNames[Modernizr.prefixed('animation')],
                onEndAnimation = function (el, callback) {
                    var onEndCallbackFn = function (ev) {
                        if (support.animations) {
                            if (ev.target != this) return;
                            this.removeEventListener(animEndEventName, onEndCallbackFn);
                        }
                        if (callback && typeof callback === 'function') {
                            callback.call();
                        }
                    };
                    if (support.animations) {
                        el.addEventListener(animEndEventName, onEndCallbackFn);
                    }
                    else {
                        onEndCallbackFn();
                    }
                }
        var eventtype = 'click';
        [].slice.call(document.querySelectorAll('.cbutton')).forEach(function (el) {
            el.addEventListener(eventtype, function (ev) {
                classie.add(el, 'cbutton--click');
                onEndAnimation(classie.has(el, 'cbutton--complex') ? el.querySelector('.cbutton__helper') : el, function () {
                    classie.remove(el, 'cbutton--click');
                });
            });
        });
    })();
script(type = 'text/javascript').
    $(document).ready(function () {
        var mas = $("a[name='page']");
        var curpage = parseInt($("#hidden").data('pg'));
        var firstpage = (curpage / 5 >> 0) * 5;
        mas.each(function (i, obj) {
           $(obj).text(++firstpage);
        });
        var num = curpage % 5;
        if (!num)
            num = 1;
        $("li.active").removeClass('active');
        $("#li_" + num).addClass('active');
    });
