doctype html
html
    head
        meta(http-equiv='content-type', content='application/xhtml+xml; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='chrome=1')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.fancybox.css', type='text/css', media='screen')
        block styles
        title ImageRepository
    body

        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar Adsd
                        span.icon-bar Bdasd
                        span.icon-bar Cdasd
                    a.navbar-brand(href='/index') Мое приложение
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/myRoom') Личный кабинет
                        li
                            a(href='/upload') Каталог изображений
                    form.navbar-form.navbar-right(action='/logout', method='get')
                        button.btn.btn-danger(type='submit') Выйти
block content

script(src='../javascripts/jquery-1.11.2.min.js')
script(src='../javascripts/jquery.fancybox.pack.js')
script(src='../javascripts/bootstrap.min.js')
block scripts

