extends layout
block styles
    link( href="/stylesheets/bootstrap-tokenfield.css" type="text/css" rel="stylesheet")

block content
    div.container
    div(style='margin-top: 20%')
        a#openimage.link(href='#') Редактировать изображение


    #modalopen.modal.fade(role='dialog')
        .modal-dialog(style='width:800px;height:700px')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Редактировать изображение
                .modal-body
                    .form-group
                        form#myform(action='/EditImg', enctype='multipart/form-data', method='post')
                            .col-lg-6
                                img#image(src='', width='350px', height='200px')
                                label Размер:
                                input#sz(type='hidden', name='size')
                                input#wt(type='hidden', name='weight')
                                li#size
                                li#weight
                                label Дополнительно
                                input#addinfo.form-control.input-lg(type='text' name='imginfo')
                                button#edit(type='submit') Открыть в редакторе
                            .row
                                .col-lg-6
                                    label Файл:
                                    input#nmDefault.form-control(type='text')
                                    label Название:
                                    input#newName.form-control(type='text' name='imgname')
                                    label Теги(Группы):
                                    input#tags.token-input(type='text', autocomplete='off', placeholder='Введите теги', tabindex='0', name='tags', style='width: 370px;')
                                    label Описание
                                    textarea#descript.form-control.input-lg(rows='4' name='imgdesc' style='resize:none')

                                    label.radio-inline
                                        input#radio1(type='radio', value ='1', checked, name='optradio')
                                        | Private
                                    label.radio-inline
                                        input#radio2(type='radio', value ='1', name='optradio')
                                        | Public
                            .modal-footer
                                button#saveServer.btn.btn-default(type='submit') Сохранить изменения
                                button#saveComp.btn.btn-default(type='submit') Скачать
                                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
block scripts
    script(src='../javascripts/bootstrap-tokenfield.js')
    script(src='../javascripts/modalWinEdit.js')
    script(type='text/javascript').
        $(document).ready(function () {
            $('#tags').tokenfield({
                limit: 10,
                delay: 100
            });
        });