extends layoutAuthorized

block styles
    link(rel='stylesheet', href='/stylesheets/jasny-bootstrap.min.css', type='text/css', media='screen')
    style.
        .thumb img {
            filter: none; /* IE6-9 */
            -webkit-filter: grayscale(0);
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 5px;
        }

        .thumb {
            margin-left: 2%;
            margin-top: 1%;
        }

        .qq {
            padding: 15px;
            margin-left: 20px;
            font-size: small;
        }

        .mrg {
            margin-top: 4%;
            margin-left: 15%;
        }

        .tt {
            margin-left: 72%;
        }
        .navmenu {
            padding-top: 50px;
            width: 200px;
        }
block nav
    nav.navmenu.navmenu-default.navmenu-fixed-left(role='navigation')
        a.navmenu-brand(href='#') Личный кабинет
        ul.nav.navmenu-nav
            li.active
                a(href='#') Профиль
            li
                a#myImage(href='#') Мои изображения
            li
                button#addImage.btn.btn-default(type='button') Загрузить изображение
block content
    div#gallery.mrg
        h1 Hello! #{user.username}

    include /views/editWindow
    include /views/addWindow
block scripts
    script(src='../javascripts/jasny-bootstrap.min.js')
    script(src='../javascripts/modalWinEdit.js')
    script(src='../javascripts/myRoom.js')
    script(src='../javascripts/modal.js')