extends layoutAuthorized

block styles
    //link( href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet")
    link( href="/stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet")
    link( href="/stylesheets/component.css" type="text/css" rel="stylesheet")
    style.
        .thumb img {
         filter: none; /* IE6-9 */
         -webkit-filter: grayscale(0);
         border-radius: 10px;
         background-color: #fff;
         border: 1px solid #ddd;
         padding: 5px;
        }

        .thumb {
         padding: 5px;
        }
        .qq {
            padding: 15px;
            margin-left: 20px;
            font-size: small;
        }
        .mrg {
            margin-top: 4%;
        }
        .tt {
            margin-left: 75%;
        }

        .holder {
            position: relative;
            width: 200px;
            height: 200px;
        }

        .block {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.7);
            padding: 5px;
            display: none;
        }

        .holder:hover .block {
            display: block;
        }
block content
    div#gallery.mrg
    include /views/editWindow
block scripts
    script(type='text/javascript').
        $(document).ready(function() {
            $("#gallery").load("/getAllImages");
            $("a.fancyimage").fancybox()
        });
    script(src='../javascripts/bootstrap-tokenfield.js')
    script(type='text/javascript').
        $(document).ready(function () {
            $('#tags').tokenfield({
                limit: 10,
                delay: 100
            });
        });
    script(type='text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#removeImage', function () {
                $.ajax({
                    url: "/removeImage",
                    type: "POST",
                    data: {
                        imageId: $(this).data('imgid'),
                        imageName: $(this).data('imgname')
                    },
                    cache: true,
                    timeout: 5000,
                    success: function (data) {
                        $('#gallery').load('getAllImages')
                    }
                })
            });
        });
    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#addtome', function () {
               $.ajax({
                   url: "/addtome",
                   type: "POST",
                   data: {
                       UserId: $(this).data('userid'),
                       ImageId: $(this).data('imgid')
                   },
                   cache: true,
                   timeout: 5000,
                   success: function (data) {
                       alert(data);
                   }
               })
            });
        });

    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#saveServer', function () {
                var num;
                if (document.getElementById("radio1").checked) {
                    num = 'private';
                }
                else {
                    num = 'public';
                }
                $("#gallery").load("/upload", {oldname: $("#nmDefault").val(), newname: $("#newName").val(),
                mytags: $("#tags").val(), descr: $("#descript").val(), adinfo: $("#addinfo").val(),
                radiobut: num});
                $('#modalopen').modal('hide');
            });
        });

    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on("click", "#findme", function(){
                $("#gallery").load("/upload", {
                    myfind: $("#srch").val()
                })
            });
        });
    script(src='../javascripts/modalWinEdit.js')
    script(src='../javascripts/classie.js')
    script(src='../javascripts/modernizr.custom.js')
