extends layout
block styles
 style.
     .thumb img {
         filter: none; /* IE6-9 */
         -webkit-filter: grayscale(0);
         border-radius: 5px;
         background-color: #fff;
         border: 1px solid #ddd;
         padding: 5px;
     }

     .thumb {
         padding: 5px;
     }

 block content
    form(action='/upload', enctype='multipart/form-data', method='post')
       input(type='file', name='upload', multiple='multiple')
       input(type="submit", value="upload")
       form(action='/nextImg', method='post')
           button(onclick='nextImg()') Click
    .container
        - var count = 0;
        each item in fls
            if count < fls.length
                .col-md-3.col-sm-4.col-xs-6.thumb
                    a.fancyimage(rel='group', href='/images/' + item.name)
                        img.img-responsive(src='/images/' + item.name)
                    .caption
                        h4(align = 'center') #{item.name}
            - count++;
block scripts
    script(type='text/javascript').
        $(document).ready(function() {
            $("a.fancyimage").fancybox();
        });
