extends layoutAuthorized

block styles
    link( href="/stylesheets/bootstrap-tokenfield.css" type="text/css" rel="stylesheet")
    //link( href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet")
    style.
        .thumb img {
         filter: none; /* IE6-9 */
         -webkit-filter: grayscale(0);
         border-radius: 10px;
         background-color: #fff;
         border: 1px solid #ddd;
         padding: 5px;
         margin-left: 25px;
        }

        .thumb {
         padding: 5px;
        }
        .qq {
            padding: 15px;
            margin-left: 20px;
            font-size: small;
        }
        .mrg {
            margin-top: 4%;
        }
        .tt {
            margin-left: 80%;
        }
block content
<<<<<<< .merge_file_a05392
    div.mrg
    table
        tr
            form(action='/upload', enctype='multipart/form-data', method='post')
                input(type='file', name='upload', multiple='multiple')
                input(type="submit", value="Загрузить")
                input.tt.search-query(type='text', placeholder='Search', name='imgsearch')
            //form.navbar-search.pull-left(action='/upload', enctype='multipart/form-data', method='post')
        tr
            .img-container
                - var count = 0;
                    each item in fls
                        if count < fls.length
                            .col-md-2.col-md-2.col-md-2.thumb
                                a.fancyimage(rel='group', href='/images/' + item.name)
                                    img#myimg(src='/images/' + item.name, width='200', height='200')
                                .caption
                                    a#openimage(data-img=item).qq Редактировать
                        - count++;
=======
    form(action='/upload', enctype='multipart/form-data', method='post')
       input(type='file', name='upload', multiple='multiple')
       input(type="submit", value="upload")
       form(action='/nextImg', method='post')
           button(onclick='nextImg()') Click

    .img-container
        - var count = 0;
            each item in fls
                if count < fls.length
                    .col-md-2.col-md-2.col-md-2.thumb
                        a.fancyimage(rel='group', href='/images/' + item.name)
                            img#myimg(src='/images/' + item.name, width='200', height='200')
                        .caption
                            small
                                a#openimage(style = 'margin-left: 50px', data-img=item) Редактировать
                                a    |
                                a#downloadimg(href='/images/' + item.name, download) Скачать
                                #user
                                a#addtome(style = 'margin-left: 50px', href='', data-imgid=item._id.toString(), data-userid=user._id.toString()) Добавить к себе
                - count++;
>>>>>>> .merge_file_a05772


    #modalopen.modal.fade(role='dialog')
        .modal-dialog(style='width:800px;height:700px')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Редактировать изображение
                .modal-body
                    .form-group
                        form#myform(action='/upload', enctype='multipart/form-data', method='post')
                            .col-lg-6
                                img#image(src='', width='100%', height='100%')
                                label Размер:
                                input#sz(type='hidden', name='size')
                                input#wt(type='hidden', name='weight')
                                li#size
                                li#weight

                            .row
                                .col-lg-6
                                    label Файл:
                                    input#nmDefault.form-control(type='text', required='', readonly='', name='oldname')
                                    label Название:
                                    input#newName.form-control(type='text' name='imgname')
                                    label Теги(Группы):
                                    input#tags.token-input(type='text', autocomplete='off', placeholder='Введите теги', tabindex='0', name='tags', style='width: 370px;')
                                    label Описание
                                    textarea#descript.form-control.input-lg(rows='4' name='imgdesc' style='resize:none')
                                    label Дополнительно
                                    input#addinfo.form-control.input-lg(type='text' name='imginfo')
                                    //
                                    //label.radio-inline
                                    //    input#radio1(type='radio', value ='1', checked, name='optradio')
                                    //    | Private
                                    //label.radio-inline
                                    //    input#radio2(type='radio', value ='1', name='optradio')
                                    //    | Public
                            .modal-footer
                                button#saveServer.btn.btn-default(type='submit') Сохранить изменения
                                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
block scripts
    script(type='text/javascript').
        $(document).ready(function() {
            $("a.fancyimage").fancybox()
        });
    script(src='../javascripts/bootstrap-tokenfield.js')
    script(type='text/javascript').
        $(document).ready(function () {
            $('#tags').tokenfield({
                limit: 10,
                delay: 100
            });
        });
    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#addtome', function () {
               $.ajax({
                   url: "/addtome",
                   type: "POST",
                   data: {
                       UserId: $(this).data('userid'),
                       ImageId: $(this).data('imgid')
                   },
                   cache: true,
                   timeout: 5000,
                   success: function (data) {
                       alert(data);
                   }
               })
            });
        });
    script(src='../javascripts/modalWinEdit.js')
