extends layoutAuthorized

block styles
    //link( href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet")
    link( href="/stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet")
    link( href="/stylesheets/component.css" type="text/css" rel="stylesheet")
    style.
        .thumb img {
         filter: none; /* IE6-9 */
         -webkit-filter: grayscale(0);
         border-radius: 10px;
         background-color: #fff;
         border: 1px solid #ddd;
         padding: 5px;
        }

        .thumb {
         padding: 5px;
        }
        .qq {
            padding: 15px;
            margin-left: 20px;
            font-size: small;
        }
        .mrg {
            margin-top: 4%;
        }
        .tt {
            margin-left: 75%;
        }

        .holder {
            position: relative;
            width: 200px;
            height: 200px;
        }

        .block {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.7);
            padding: 5px;
            display: none;
        }

        .holder:hover .block {
            display: block;
        }
block content
    div#gallery.mrg
    include /views/editWindow
block scripts
    script(src='../javascripts/jquery.form.js')
    script(type='text/javascript').
        $(document).ready(function() {
            $("#gallery").load("/getAllImages", {numpage: 1});
            $("a.fancyimage").fancybox()
        });
    script(src='../javascripts/bootstrap-tokenfield.js')
    script(type='text/javascript').
        $(document).ready(function () {
            $('#tags').tokenfield({
                limit: 10,
                delay: 100
            });
        });
    script(type='text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#removeImage', function () {
                $.ajax({
                    url: "/removeImage",
                    type: "POST",
                    data: {
                        imageId: $(this).data('imgid'),
                        imageName: $(this).data('imgname')
                    },
                    cache: true,
                    timeout: 5000,
                    success: function (data) {
                        $('#gallery').load('getAllImages', {numpage: 1})
                    }
                })
            });
        });
    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#addtome', function () {
               $.ajax({
                   url: "/addtome",
                   type: "POST",
                   data: {
                       UserId: $(this).data('userid'),
                       ImageId: $(this).data('imgid')
                   },
                   cache: true,
                   timeout: 5000,
                   success: function (data) {
                       alert(data);
                   }
               })
            });
        });



    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on("click", "#findme", function(){
                $("#gallery").load("/upload", {
                    myfind: $("#srch").val()
                })
            });
        });



    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#next', function () {
                var countpages = Math.cell(($("#hidden").data('fls').length + 9) / 10);
                if (parseInt($("#li_5").children()[0].text) < countpages) {
                    var mas = $("a[name='page']");
                    var curpage = $("#hidden").data('pg');
                    $("li.active").removeClass('active');
                    mas.each(function (i, obj) {
                        var num = parseInt($(obj).text()) + 5;
                        $(obj).text(num);
                    });

                    var num = curpage % 5;
                    if (!num)
                        num = 5;
                    if (curpage >= parseInt($("#li_1").children()[0].text) && curpage <= parseInt($("#li_5").children()[0].text))
                        $("#li_" + num).addClass('active');
                }
            });
        });
    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#prev', function () {
                if ($("#li_1").children()[0].text == '1')
                        return;
                var mas = $("a[name='page']");
                mas.each(function (i, obj) {
                    var num = parseInt($(obj).text()) - 5;
                    if (num > 0)
                        $(obj).text(num);
                });
                var curpage = $("#hidden").data('pg');
                $("li.active").removeClass('active');
                var num = curpage % 5;
                if (!num)
                    num = 5;
                if (curpage >= parseInt($("#li_1").children()[0].text) && curpage <= parseInt($("#li_5").children()[0].text))
                    $("#li_" + num).addClass('active');
            });
        });
    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#pg', function () {
                var pg = parseInt($(this).text());
                $("#gallery").load("/getAllImages", {numpage: pg}, function () {
                })
            });
        });
    script(src='../javascripts/modalWinEdit.js')
    script(src='../javascripts/classie.js')
    script(src='../javascripts/modernizr.custom.js')
