extends layoutAuthorized

block styles
    //link( href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet")
    style.
        .thumb img {
         filter: none; /* IE6-9 */
         -webkit-filter: grayscale(0);
         border-radius: 10px;
         background-color: #fff;
         border: 1px solid #ddd;
         padding: 5px;
         margin-left: 25px;
        }

        .thumb {
         padding: 5px;
        }
        .qq {
            padding: 15px;
            margin-left: 20px;
            font-size: small;
        }
        .mrg {
            margin-top: 4%;
        }
        .tt {
            margin-left: 75%;
        }
block content
    div#gallery.mrg
        table
            tr
                input#srch.tt(type='text', placeholder='Search', name='imgsearch', style='width:250px')
                input#findme(type = "button", style='width:60px', value = "Найти")
            tr
                .img-container
                    - var count = 0;
                        each item in fls
                            if count < fls.length
                                .col-md-2.col-md-2.col-md-2.thumb
                                    a.fancyimage(rel='group', href='/images/' + item.name)
                                        img#myimg(src='/images/' + item.name, width='200', height='200')
                                    .caption
                                        small
                                            a#openimage(style = 'margin-left: 50px', data-img=item, data-user=user) Редактировать
                                            a    |
                                            a#downloadimg(href='/images/' + item.name, download) Скачать
                                            #user
                                            a#addtome(style = 'margin-left: 50px', href='', data-imgid=item._id.toString(), data-userid=user._id.toString()) Добавить к себе
                            - count++;

    include /views/editWindow
block scripts
    script(type='text/javascript').
        $(document).ready(function() {
            $("a.fancyimage").fancybox()
        });
    script(src='../javascripts/bootstrap-tokenfield.js')
    script(type='text/javascript').
        $(document).ready(function () {
            $('#tags').tokenfield({
                limit: 10,
                delay: 100
            });
        });
    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#addtome', function () {
               $.ajax({
                   url: "/addtome",
                   type: "POST",
                   data: {
                       UserId: $(this).data('userid'),
                       ImageId: $(this).data('imgid')
                   },
                   cache: true,
                   timeout: 5000,
                   success: function (data) {
                       alert(data);
                   }
               })
            });
        });

    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on('click', '#saveServer', function () {
                var num;
                if (document.getElementById("radio1").checked) {
                    num = 'private';
                }
                else {
                    num = 'public';
                }
                $("#gallery").load("/upload", {oldname: $("#nmDefault").val(), newname: $("#newName").val(),
                mytags: $("#tags").val(), descr: $("#descript").val(), adinfo: $("#addinfo").val(),
                radiobut: num})
            });
        });

    script(type = 'text/javascript').
        $(document).ready(function () {
            $('body').on("click", "#findme", function(){
                $("#gallery").load("/upload", {
                    myfind: $("#srch").val()
                })
            });
        });
    script(src='../javascripts/modalWinEdit.js')
